pipeline/pl_API.json
{
	"name": "pl_API",
	"properties": {
		"activities": [
			{
				"name": "Get Pokemon Data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://pokeapi.co/api/v2/pokemon"
				}
			},
			{
				"name": "Copy Pokemon data with Offset",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Count of Output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"QueryParameters.{offset}": {
								"value": "RANGE:0:1320:20\n\n",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_pokemon",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Count of Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Pokemon Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@activity('Get Pokemon Data').output.count",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"count": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-01T16:26:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}