pipeline/pl_dynamic_schema.json
{
	"name": "pl_dynamic_schema",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Of Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csvs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Of Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data with Dynmaic Schema",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(\n  equals(item().name, 'customers.csv'),\n  pipeline().parameters.customer_sc,\n  if(\n    equals(item().name, 'drivers.csv'),\n    pipeline().parameters.drivers_sc,\n    if(\n      equals(item().name, 'trips.csv'),\n      pipeline().parameters.trips_sc,\n      ''\n    )\n  )\n)\n",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "source",
										"p_folder": "files",
										"p_file": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "sink",
										"p_folder": "schema",
										"p_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"customer_sc": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "customer_id"
							},
							"sink": {
								"name": "cust_id"
							}
						},
						{
							"source": {
								"name": "first_name"
							},
							"sink": {
								"name": "fname"
							}
						},
						{
							"source": {
								"name": "last_name"
							},
							"sink": {
								"name": "lname"
							}
						},
						{
							"source": {
								"name": "email"
							},
							"sink": {
								"name": "contact_email"
							}
						},
						{
							"source": {
								"name": "phone_number"
							},
							"sink": {
								"name": "mobile_no"
							}
						},
						{
							"source": {
								"name": "city"
							},
							"sink": {
								"name": "customer_city"
							}
						},
						{
							"source": {
								"name": "signup_date"
							},
							"sink": {
								"name": "registered_on"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp"
							},
							"sink": {
								"name": "updated_at"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"drivers_sc": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "driver_id"
							},
							"sink": {
								"name": "drv_id"
							}
						},
						{
							"source": {
								"name": "first_name"
							},
							"sink": {
								"name": "drv_fname"
							}
						},
						{
							"source": {
								"name": "last_name"
							},
							"sink": {
								"name": "drv_lname"
							}
						},
						{
							"source": {
								"name": "phone_number"
							},
							"sink": {
								"name": "drv_contact"
							}
						},
						{
							"source": {
								"name": "vehicle_id"
							},
							"sink": {
								"name": "vehicle_code"
							}
						},
						{
							"source": {
								"name": "driver_rating"
							},
							"sink": {
								"name": "avg_rating"
							}
						},
						{
							"source": {
								"name": "city"
							},
							"sink": {
								"name": "operating_city"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp"
							},
							"sink": {
								"name": "modified_on"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"trips_sc": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "trip_id"
							},
							"sink": {
								"name": "journey_id"
							}
						},
						{
							"source": {
								"name": "driver_id"
							},
							"sink": {
								"name": "drv_id"
							}
						},
						{
							"source": {
								"name": "customer_id"
							},
							"sink": {
								"name": "cust_id"
							}
						},
						{
							"source": {
								"name": "vehicle_id"
							},
							"sink": {
								"name": "vehicle_ref"
							}
						},
						{
							"source": {
								"name": "trip_start_time"
							},
							"sink": {
								"name": "start_time"
							}
						},
						{
							"source": {
								"name": "trip_end_time"
							},
							"sink": {
								"name": "end_time"
							}
						},
						{
							"source": {
								"name": "start_location"
							},
							"sink": {
								"name": "origin"
							}
						},
						{
							"source": {
								"name": "end_location"
							},
							"sink": {
								"name": "destination"
							}
						},
						{
							"source": {
								"name": "distance_km"
							},
							"sink": {
								"name": "distance"
							}
						},
						{
							"source": {
								"name": "fare_amount"
							},
							"sink": {
								"name": "fare_total"
							}
						},
						{
							"source": {
								"name": "payment_method"
							},
							"sink": {
								"name": "pay_type"
							}
						},
						{
							"source": {
								"name": "trip_status"
							},
							"sink": {
								"name": "status"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp"
							},
							"sink": {
								"name": "updated_at"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-01T18:06:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}